<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @quarter.address %>
</p>

<p>
  <strong>Q name:</strong>
  <%= @quarter.q_Name %>
</p>

<%= link_to 'Edit', edit_quarter_path(@quarter) %> |
<%= link_to 'Back', quarters_path %>
