<p id="notice"><%= notice %></p>

<p>
  <strong>Qname:</strong>
  <%= @quarter.qName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @quarter.address %>
</p>

<%= link_to 'Edit', edit_quarter_path(@quarter) %> |
<%= link_to 'Back', quarters_path %>
