<p id="notice"><%= notice %></p>

<p>
  <strong>Programname:</strong>
  <%= @program.programName %>
</p>

<p>
  <strong>Tipep:</strong>
  <%= @program.tipeP %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @program.faculty %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
