<p id="notice"><%= notice %></p>

<p>
  <strong>Bnum:</strong>
  <%= @block.bNum %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @block.quarter %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
