<p id="notice"><%= notice %></p>

<p>
  <strong>Teachername:</strong>
  <%= @teacher.teacherName %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @teacher.profesion %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
